@model IEnumerable<VoteIt.Models.Feed>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FeedTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeedLike)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeedCreatedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeedCreatedUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeedValidFlag)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FeedTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeedLike)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeedCreatedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeedCreatedUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeedValidFlag)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FeedId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FeedId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FeedId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
