@model IEnumerable<VoteIt.Models.Feed>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutVoteIt.cshtml";
}

<h2>Vote It !</h2>

<p>
    <div class="create-new">
        <a asp-action="Create">
            <img src="~/images/add-button-inside-black-circle_91app.svg" class="create-new-img" title="Create New" />
        </a>
    </div>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/images/thumbs-up_91app.svg" class="like" id="@item.FeedId" onclick="like(@item.FeedId)" onmouseover="likeUser(@item.FeedId)" onmouseout="clearTooltip(@item.FeedId)"/>
                    @Html.DisplayFor(modelItem => item.FeedLike)
                    <img src="~/images/thumbs-up.svg" class="unlike hidden" />
                </td>
                <td>
                    <span class="feed">
                        @Html.DisplayFor(modelItem => item.FeedTitle)
                    </span>
                    <br>
                    <span class="feedInfo">
                        @Html.DisplayFor(modelItem => item.FeedCreatedUser)
                        ,
                        @item.FeedCreatedDateTime.ToString("yyyy/MM/dd HH:mm:ss")
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        //// 新增 like
        function like(id) {
            let url = window.location.origin + '/api/feeds/createlike/' + id;
            var request = new XMLHttpRequest();
            request.open('POST', url, true);
            request.onload = function () {
                console.log(this.status);
                if (request.status >= 200 && request.status < 400) {
                    console.log('success');
                    console.log(this.responseText);

                    if (this.responseText) {
                        alert(this.responseText);
                    }
                    else {
                        location.reload();
                    }
                } else if (request.status = 401) {
                    alert('Login first!');
                } else {
                    console.log('error');
                    alert(request.status);
                }
            };
            request.send();
        }

        //// 顯示 like 的使用者
        function likeUser(id) {
            let url = window.location.origin + '/api/feeds/GetLikeUserList/' + id;
            var request = new XMLHttpRequest();
            request.responseType = 'json';
            request.open('GET', url, true);
            request.onload = function () {
                console.log(this.status);
                if (request.status >= 200 && request.status < 400) {
                    console.log('success');
                    console.log(request.response);

                    let item = document.getElementById(id);

                    let result = request.response;
                    let message = '';
                    for (let i in result) {
                        message += result[i] + '\n';
                    }

                    item.setAttribute('data-toggle', 'tooltip');
                    item.setAttribute('title', message);
                } else {
                    console.log('error');
                    alert(request.status);
                }
            };
            request.send();
        }

        //// 清除 Tooltip
        function clearTooltip(id) {
            let item = document.getElementById(id);
            item.removeAttribute('data-toggle');
            item.removeAttribute('title');
        }
    </script>
}