@model IEnumerable<VoteIt.Models.Feed>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vote It !</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/images/thumbs-up.svg" class="like" />
                @Html.DisplayFor(modelItem => item.FeedLike)
                <img src="~/images/thumbs-up.svg" class="unlike"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeedTitle)
                <br>
                <span class="feedInfo">
                    @Html.DisplayFor(modelItem => item.FeedCreatedUser)
                    /
                    @Html.DisplayFor(modelItem => item.FeedCreatedDateTime)
                </span>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FeedId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FeedId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FeedId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
