@model IEnumerable<VoteIt.Models.Feed>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutVoteIt.cshtml";
}

<h2>Vote It !</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/images/thumbs-up_91app.svg" class="like" id="@item.FeedId" onclick="like(@item.FeedId)" />
                    @Html.DisplayFor(modelItem => item.FeedLike)
                    <img src="~/images/thumbs-up.svg" class="unlike hidden" />
                </td>
                <td>
                    <span class="feed">
                        @Html.DisplayFor(modelItem => item.FeedTitle)
                    </span>
                    <br>
                    <span class="feedInfo">
                        @Html.DisplayFor(modelItem => item.FeedCreatedUser)
                        ,
                        @item.FeedCreatedDateTime.ToString("yyyy/MM/dd HH:mm:ss")
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        function like(id) {
            //let url = window.location.origin + '/api/feeds/updatelike/' + id;
            let url = window.location.origin + '/api/feeds/createlike/' + id;
            var request = new XMLHttpRequest();
            request.open('POST', url, true);
            //request.setRequestHeader('Content-type', 'application/json');
            request.onload = function () {
                console.log(this.status);
                if (request.status >= 200 && request.status < 400) {
                    console.log(this.responseText);
                    //showResult(this.responseText);
                    console.log('success');
                    location.reload();
                } else if (request.status = 401) {
                    alert('Login first!');
                } else {
                    console.log('error');
                    alert(request.status);
                }
            };
            request.send();
        }
    </script>
}