@model IEnumerable<VoteIt.Models.Feed>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutVoteIt.cshtml";
}

<h2>Vote It !</h2>

<p>
    <div class="create-new">
        <img src="~/images/add-button-inside-black-circle_91app.svg" class="create-new-img" title="Create New" data-toggle="modal" data-target="#modal-create-feed" />
    </div>
</p>

<div class="btn-group pull-right btn-sort" role="group" aria-label="Basic example">
    <a asp-action="Index" asp-route-sort="New"><button type="button" class="btn btn-danger">New</button></a>
    <a asp-action="Index" asp-route-sort="Like"><button type="button" class="btn btn-danger">Like</button></a>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="active"><a href="#">1</a></li>
    </ul>
</nav>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/images/thumbs-up_91app.svg" class="like" id="@item.FeedId" onclick="like(@item.FeedId)" data-toggle="tooltip" data-placement="bottom" data-html="true" onmouseover="likeUser(@item.FeedId)" />
                    @Html.DisplayFor(modelItem => item.FeedLike)
                    <img src="~/images/thumbs-up.svg" class="unlike hidden" />
                </td>
                <td>
                    <span class="feed">
                        @Html.DisplayFor(modelItem => item.FeedTitle)
                    </span>
                    <br>
                    <span class="feedInfo">
                        @Html.DisplayFor(modelItem => item.FeedCreatedUser)
                        ,
                        @item.FeedCreatedDateTime.ToString("yyyy/MM/dd HH:mm:ss")
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- Create New -->
<div class="modal fade" id="modal-create-feed" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Feed</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <div class="text-danger"></div>
                            <div class="form-group">
                                我覺得...
                                <textarea id="feedTitle" class="form-control"></textarea>
                                <span class="text-danger"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="createFeed()" data-dismiss="modal">Create</button>
            </div>
        </div>
    </div>
</div>
<!-- Alert -->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modal-alert">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12" id="modal-alert-body">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        //// Page Load
        $(function() {
            getFeedCount();

        });

        //// 新增 like
        function like(id) {
            let url = window.location.origin + '/api/feeds/createlike/' + id;
            var request = new XMLHttpRequest();
            request.open('POST', url, true);
            request.onload = function () {
                console.log(this.status);
                if (request.status >= 200 && request.status < 400) {
                    console.log('success');
                    console.log(this.responseText);

                    if (this.responseText) {
                        showAlert(this.responseText);
                    }
                    else {
                        location.reload();
                    }
                } else if (request.status == 401) {
                    showAlert('Login first!');
                } else {
                    console.log('error');
                    showAlert(request.status);
                }
            };
            request.send();
        }

        //// 顯示 like 的使用者
        function likeUser(id) {
            let url = window.location.origin + '/api/feeds/GetLikeUserList/' + id;
            var request = new XMLHttpRequest();
            request.responseType = 'json';
            request.open('GET', url, true);
            request.onload = function () {
                console.log(this.status);
                if (request.status >= 200 && request.status < 400) {
                    console.log('success');
                    console.log(request.response);

                    let item = document.getElementById(id);

                    let result = request.response;
                    let message = '';
                    for (let i in result) {
                        message += result[i] + '<br>';
                    }

                    item.setAttribute('data-original-title', message);
                } else {
                    console.log('error');
                    showAlert(request.status);
                }
            };
            request.send();
        }

        //// Create Feed
        function createFeed() {
            let element = document.getElementById('feedTitle');
            let feedTitle = element.value;

            let url = window.location.origin + '/api/Feeds';
            var request = new XMLHttpRequest();
            request.open('POST', url, true);
            request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            request.onload = function () {
                console.log(this.status);
                if (request.status >= 200 && request.status < 400) {
                    console.log('success');
                    console.log(this.responseText);

                    location.reload();
                } else if (request.status == 401) {
                    showAlert('Login first!');
                } else {
                    console.log('error');
                    showAlert(request.status);
                }
            };
            request.send(JSON.stringify({ "FeedTitle": feedTitle }));
        }

        //// 顯示訊息
        function showAlert(message) {
            let element = document.getElementById('modal-alert-body');
            element.innerHTML = message;

            $('#modal-alert').modal({ 'show': true })
        }

        //// 取得 Feeds Count
        function getFeedCount() {
            let url = window.location.origin + '/api/Feeds/Count';
            var request = new XMLHttpRequest();
            request.open('GET', url, true);
            request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            request.onload = function () {
                console.log(this.status);
                if (request.status >= 200 && request.status < 400) {
                    console.log('success');
                    console.log(this.responseText);

                    let item = document.getElementsByClassName("pagination");

                    let feedCount = Number(request.response);
                    feedCount = 53; //TODO delete
                    let feedPage = 10;
                    let pageCount = Math.ceil(feedCount / feedPage);
                    let message = '';
                    for (i = 1; i <= pageCount; i++) {
                        message += "<li><a href=\"#\">" + i + "</a></li>";
                    }

                    item[0].innerHTML = message;
                } else if (request.status == 401) {
                    showAlert('Login first!');
                } else {
                    console.log('error');
                    showAlert(request.status);
                }
            };
            request.send();
        }
    </script>
}